*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  outline: none;
  font-family: 'vazir';
}
body {
  direction: rtl;
  font-family: 'vazir';
  overflow-x: hidden;
}
.to-top{
  position: fixed;
  right: 20px;
  bottom: 15px;
  background: #fff;
  width: 50px;
  height: 50px;
  border: 1px solid #ffcbcb;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: crimson;
  opacity: 0;
  transition: all .4s ease-in-out;
}
.to-top.active{
  opacity: 1;
  bottom: 40px;
}
.to-top svg{
  font-size: 25px;
}
.darkmode{
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  width: 120px;
  height: 100vh;
  background-color: #ffcbcb;
}